.d-block {
height: 550px;
}

.listingBody {
    background-color: wheat;
}

.cardImage{
    height:600px
}

.userBody {
    background-color: teal;
    height: 100%;
}

h2 {
    font-family: 'Bungee Shade', cursive;
    color: white;
}

h3 {
    font-family: 'Saira Stencil One', cursive;
}

